.student {
    height: 100vh;
}
 
.student .card{
    /* background-color: #e4e4f1; */
    height: auto;
    width: 55%;
}

Form{
    height: 100%;
    padding: 1em;
    color: #11112c;
    font-size: 1rem;
}