
.navbar-vertical {
  background-color: #11112c;
  color: #F5F7F8;
  width: 250px;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  padding: 0 10px;
}

.nav-top, .nav-center, .nav-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-items{
    width: 100%;
}

 ul{
    list-style: none;
    padding-left: 0;
}

.nav-center .list-items ul li{
    height: 60px;
    font-size: 1em;
    opacity: 0.6;
    width: 100%;
    font-size: 14px;
}

.nav-center .list-items ul li:hover{
    opacity: 1;
}

.nav-center .list-content{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: flex-start;
}


.nav-center .list-content .logo{
    margin-right: 10px;
}

.nav-link{
    color: #F5F7F8;
}
.nav-link:hover{
    color: #F5F7F8;

}



