@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins','Sans-serif';
  font-weight: 400;
}

#root{
  display: flex;
}

@media screen and (max-width:919px) {
  #root{
    display: block;
  }
}

.wrapper{
  display: flex;
  flex-grow: 1;
}

.container-fluid{
  background-color: #f2f7f8;
  margin: 0;
}